{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}
{% block content %}
{% include 'blog/alert.html' %}

<h3>{{ post.title }}</h3>
<small>post created by: {{ post.author }}</small>
<hr>
<p>{{ post.body }}</p>
<br>

<div class="row gallery">
    {% for p in post.images_set.all %}
    <div class="col-md-3">
        <img src="{{ p.image.url }}" alt="Image Not Found" class="img-thumbnail">
    </div>
    {% endfor %}
</div>
<hr><hr>
<div id='like-section'>
        {% include 'blog/like_section.html' %}
</div>
<div class="favourite-section">
    {% if is_favourite %}
    <a href="{% url 'blog:favourite_post' id=post.id %}">
    <i class="fas fa-heart fa-lg"></i>
</a>
{% else %}
<a href="{% url 'blog:favourite_post' id=post.id %}">
        <i class="far fa-heart fa-lg"></i>
    </a>
    {% endif %}
</div>
{% if post.author == request.user %}

<div class="section-1" style="float:right;">
<a href="{% url 'blog:post_edit' id=post.id %}">
    <button type="button" class="btn btn-outline-success">Edit</button>
</a>
<a href="{% url 'blog:post_delete' id=post.id %}" id="delete">
    <button type="button" class="btn btn-danger">Delete</button>
</a>
</div>

{% endif %}
<br><br>
<hr>




{% if not post.restrict_comment %}
<div class="main-comment-section">
{% include 'blog/comments.html' %}
</div>
{% endif %}
{% endblock %}